.h-layout {
    display: table;
}

.h-layout.free > *,
.h-layout > .cell {
    display: table-cell;
    vertical-align: middle;
    background: silver;
}

.h-layout.spacing > .cell {
    padding-right: 1em;
}
.h-layout.spacing > .cell:last-child,
.h-layout.spacing > .cell:only-child {
    padding-right: 0;
}
