/*test page*/
.cross-l{position:fixed;height:5%;width:20px;z-index:0;top:50%;left:0%;margin:-19px 0 0 -10px;padding:0 10px 0 0;font-size:30px;cursor:pointer;}
.cross{position:fixed;height:100%;width:100%;z-index:0;top:0;left:-100%;display:none;}
.cross:before{content:'';position:fixed;z-index:2;top:50%;left:0;display:block;height:1px;width:100%;border-top:1px dashed rgba(128,0,0,.3);}
.cross:after{content:'';position:fixed;z-index:2;top:0;left:50%;display:block;height:100%;width:1px;border-left:1px dashed rgba(128,0,0,.3);}
.cross-l:hover + .cross{display:block;}

.test body > div {outline:1px dashed red;}
.test body > div > div {outline:1px dashed blue;}
.test body > div > div > div {outline:1px dashed green;}
.test body > div > div > div > div {outline:1px dashed violet;}
.test body > div > div > div > div > div {outline:1px dashed orange;}
.test body > div > div > div > div > div > div {outline:1px dashed greenyellow;}
.test body p:hover {outline:1px dotted silver;background-color:rgba(0,0,0,.1);}
.test body div:hover,.test body form:hover,.test body fieldset:hover {outline:1px dotted black;background-color:rgba(0,0,0,.1);}
.test body > div *:not(div):hover {background-color:rgba(255,255,0,.2);}
.test body > div *:not(div) *:hover {background-color:rgba(255,255,0,.6);}
.test body .editor div:hover,.test body .textarea div:hover {background-color:rgba(255,255,255,.8)!important;}